<% @blogs.each do |blog| %>
<div>
  <%= attachment_image_tag blog, :image %>
  <p>Title:<%= blog.title %></p>
  <p>Opinion:<%= blog.body %></p>
  <p>Category:<%= blog.category %></p>
  <p>User name:<%= blog.user.name %></p>
</div>
<% end %>